ProyectoSO/ProyectoSO/bin/
ProyectoSO/ProyectoSO/obj/

ProyectoSO/ProyectoSO.Lib/bin/
ProyectoSO/ProyectoSO.Lib/obj/

ProyectoSO/ProyectoSO.Tests/bin/
ProyectoSO/ProyectoSO.Tests/Test_outputs/
ProyectoSO/ProyectoSO.Tests/obj/

